<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>电视</string>
		<key>icon_n</key>
		<string>television_gray</string>
		<key>icon_sed</key>
		<string>television</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宽带</string>
		<key>icon_n</key>
		<string>broadband_gray</string>
		<key>icon_sed</key>
		<string>broadband</string>
	</dict>
	<dict>
		<key>name</key>
		<string>洗衣机</string>
		<key>icon_n</key>
		<string>washer_gray</string>
		<key>icon_sed</key>
		<string>washer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>床</string>
		<key>icon_n</key>
		<string>bed_gray</string>
		<key>icon_sed</key>
		<string>bed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>热水器</string>
		<key>icon_n</key>
		<string>heater_gray</string>
		<key>icon_sed</key>
		<string>heater</string>
	</dict>
	<dict>
		<key>name</key>
		<string>供暖</string>
		<key>icon_n</key>
		<string>heating_gray</string>
		<key>icon_sed</key>
		<string>heating</string>
	</dict>
	<dict>
		<key>name</key>
		<string>柜子</string>
		<key>icon_n</key>
		<string>cabinet_gray</string>
		<key>icon_sed</key>
		<string>cabinet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沙发</string>
		<key>icon_n</key>
		<string>sofa_gray</string>
		<key>icon_sed</key>
		<string>sofa</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冰箱</string>
		<key>icon_n</key>
		<string>fridge_gray</string>
		<key>icon_sed</key>
		<string>fridge</string>
	</dict>
	<dict>
		<key>name</key>
		<string>空调</string>
		<key>icon_n</key>
		<string>air-conditioner_gray</string>
		<key>icon_sed</key>
		<string>air-conditioner</string>
	</dict>
</array>
</plist>
