<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string></string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>起床</string>
		<key>icon</key>
		<string>getup</string>
	</dict>
	<dict>
		<key>name</key>
		<string>休息</string>
		<key>icon</key>
		<string>rest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>离家</string>
		<key>icon</key>
		<string>leave</string>
	</dict>
	<dict>
		<key>name</key>
		<string>回家</string>
		<key>icon</key>
		<string>gohome</string>
	</dict>
	<dict>
		<key>name</key>
		<string>打游戏</string>
		<key>icon</key>
		<string>playgame</string>
	</dict>
</array>
</plist>
